.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.MuiPaper-root {
    background-color: #e0e0e0!important;
}

.App-link {
  color: #61dafb;
}

.MuiDialogContent-root {
  flex: 1 1 auto;
  padding: 8px 0px!important;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.MuiTimelineItem-missingOppositeContent:before {
  flex: 0!important;
  content: "";
  padding: 6px 0px!important;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 20px!important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div#root {
  height: 100%; /* remove this line to see div.app is no more 100% height */
  padding: 0 20px;
}